body{
    margin: 20px;
}
ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
}

.color{
    color: red;
}
.bakground{
    background-color: gold;
}

.bakground_green {
    background-color: rgb(243, 117, 21);
    color: rgb(244, 247, 63);
}

body {
    background-color: gray;
}

.box {
    width: 300px;
    height: 150px;
    background-color: rgb(214, 118, 0);
}

button.magic-btn{
    padding: 15px 25px;
}

div.squ_many_colors {
    
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
   
    background-color: rgb(7, 18, 49);
}

.class__sq{
    width: 100px;
    height: 100px;
    margin: 15px;
};





